/* =========================
   WRAPPER
========================= */
.select-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

/* LABEL */
.select-label {
    font-size: 13px;
    margin-bottom: 5px;
    color: #374151;
    text-align: left;
}

/* =========================
   INPUT
========================= */
.select-input {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 13px;
    /*background: white;*/
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.2s ease;
}

.select-input:hover {
    border-color: #cbd5e1;
}

/* arrow */
.arrow {
    font-size: 12px;
    color: #6b7280;
}

/* =========================
   DROPDOWN
========================= */
.select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /*background: white;*/
    border-radius: 10px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    margin-top: 5px;
    z-index: 10;

    animation: fadeIn 0.2s ease;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================
   SEARCH
========================= */
.select-search {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e5e7eb;
    padding: 10px;
    outline: none;
    background-color: transparent;
    color: #374151;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* =========================
   OPTIONS
========================= */
.select-options {
    max-height: 200px;
    overflow-y: auto;
    font-size: 13px;
}

/* option */
.select-option {
    padding: 10px 12px;
    cursor: pointer;
    background-color: #f5f7fb;
}

.select-option:hover {
    background: transparent;
}

/* empty */
.select-empty {
    padding: 10px;
    font-size: 13px;
    color: #9ca3af;
}