.layout {
  height: 100vh;
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 60px; /* espacio sidebar colapsado */
  transition: margin-left 0.25s ease;
}